extends layout

block content
    #map
        img(id="floorplan", src="img/floorplan.jpg")
        img(id="overlay", src="img/dot.gif")
    #stuff
        select(name="Room" id="roomselector" onchange="findroom()")